.details {
  @extend .pb-5;

  &__header {
    @extend .mb-5, .container, .pt-5, .pb-0;
    text-align: center;

    &__description {
      @extend .text-light;
    }
  }

  &__content {
    @extend .container-fluid;

    &__model {
      @extend .rounded, .my-5, .d-flex, .justify-content-center;
    }

    &__thumbnail {
      @extend .img-fluid, .mb-5, .rounded, .shadow, .mx-auto;
    }

    &__video {
      @extend .d-flex, .justify-content-center;

      iframe {
        @extend .img-fluid;

        @include media-breakpoint-up(md) {
          height: 50vh;
          width: 50%;
        }
      }
    }
  }

  &__list {
    @extend .d-flex, .flex-wrap, .justify-content-around, .align-items-center;

    &__item {
      @extend .img-fluid, .d-block, .rounded, .shadow, .w-100, .mt-5;
    }
  }
}
