%footer-margin {
  margin-bottom: 2rem;
}

.footer {
  @extend .d-flex,
    .flex-column,
    .flex-sm-row,
    .justify-content-between,
    .align-items-center,
    .container,
    .text-light,
    .py-3,
    .flex-wrap;

  font-weight: 300;
  font-family: $header-font-family;

  &__icons {
    @extend .d-flex, .pl-0, %footer-margin;
    list-style: none;

    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }

    &__item {
      & + & {
        @extend .ml-2;
      }

      &__link {
        @extend .rounded-circle,
          .justify-content-center,
          .d-flex,
          .align-items-center,
          .bg-white;

        @include set-size(2rem);

        &:hover {
          @extend .bg-primary;

          img {
            filter: invert(100%);
          }
        }

        &__icon {
          @include set-size(1.25rem);
        }
      }
    }
  }

  &__contact-btn {
    @extend .btn, .d-flex, .align-items-center, .text-white, %footer-margin;
    text-transform: uppercase;
    flex-basis: 50%;

    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
      flex-basis: auto;
    }

    &:hover {
      @extend .bg-primary;
    }

    &__label {
      font-family: $header-font-family;
      font-weight: 300;
    }

    &__icon {
      @extend .mr-2;
      width: 1.25rem;
    }
  }

  &__copyright {
    text-transform: capitalize;
  }
}
