.nav {
  @extend .navbar, .navbar-expand-lg, .navbar-dark, .py-2, .shadow;

  &--home {
    @extend .position-absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex-sticky;
    background-color: transparentize($color: black, $amount: 0.4);
  }

  &__logo {
    @extend .navbar-brand;

    &__image {
      @extend .img-fluid;
      width: 3rem;
    }
  }

  &__links {
    @extend .navbar-nav, .ml-auto;

    &__item {
      @extend .nav-item;

      @include media-breakpoint-up(lg) {
        & + & {
          margin-left: 3rem;
        }
      }

      &__link {
        @extend .nav-link, .text-light, .px-0;

        &--active {
          @extend .border-bottom, .border-primary;
          font-weight: bold;
        }
      }
    }
  }
}
